In [1]:
from sqlite_operation import get_sqlite_conn, close_sqlite_conn, query_load
from utils import df_trans

def get_history_data(custom_name, his_start, his_end):
    conn = get_sqlite_conn()
    his_df = query_load(his_start, his_end, custom_name, conn, 'fit_load')
    his_df = df_trans(his_df)
    his_df = his_df.rename(columns={'time': 'date_time', 'load': 'energy'})
    return his_df


custom_name = '万年县英豪实业有限公司'
his_start = '2024-10-01'
his_end = '2024-11-01'
result = get_history_data(custom_name, his_start, his_end)
result

              date_time  energy
0   2024-10-01 00:00:00   1.050
1   2024-10-01 01:00:00   1.110
2   2024-10-01 02:00:00   1.095
3   2024-10-01 03:00:00   1.110
4   2024-10-01 04:00:00   1.065
..                  ...     ...
763 2024-11-01 19:00:00   0.000
764 2024-11-01 20:00:00   0.060
765 2024-11-01 21:00:00   0.420
766 2024-11-01 22:00:00   0.840
767 2024-11-01 23:00:00   1.065

[768 rows x 2 columns]